@model IEnumerable<ObligatorioMVC.Models.Maquina>

@{
    ViewData["Title"] = "Index";
}

<h1>Maquinas</h1>

<p>
    <a asp-action="Create">Ingresar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PrecioCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Disponibilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TipoMaquina.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Local.NombreLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().VidaUtil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FechaCompra.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioCompra)
                </td>
                <td>
                    @(item.Disponibilidad ? "Disponible" : "No disponible")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMaquina.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.NombreLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VidaUtil) años <!-- Se le agrega la palabra años al final-->
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
