@model ObligatorioMVC.Models.Socio

@{
    ViewData["Title"] = "Delete";
}


<h1 class="text-light">Eliminar</h1>

<h3 class="text-light">¿Está seguro de eliminarlo?</h3>
<div>
    <h4 class="text-light">Socio</h4>
    <hr class="bg-light" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Local.Ciudad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSocio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoSocio.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>


<style>
    body {
        background-color: #333;
        color: #ddd;
    }

    h1, h3, h4 {
        color: #fff;
    }

    .row {
        margin-top: 20px;
    }

    .col-sm-2 {
        font-weight: bold;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

    .btn-secondary {
        background-color: #666;
        border-color: #777;
        margin-left: 5px; /* Añadido para separación */
    }

        .btn-secondary:hover {
            background-color: #777;
            border-color: #888;
        }

    hr {
        border-top: 1px solid #fff;
    }
</style>