@model ObligatorioMVC.Models.Locales

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Locales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsableLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsableLocal.NombreUsuario)
        </dd>
    </dl>
</div>

<h5>Lista de Máquinas</h5>

@foreach(var maq in Model.Maquina)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayFor(modelo => maq.TipoMaquina.NombreTipoMaquina)
                </th>
                <th>
                    @Html.DisplayNameFor(modelo => maq.VidaUtil): 
                    @Html.DisplayFor(modelo => maq.VidaUtil) años
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
}


<div>

    <a asp-action="ListaDeMaquinas" asp-route-id="@Model?.IdLocal">Lista De Máquinas</a> |
    <a asp-action="Edit" asp-route-id="@Model?.IdLocal">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
