@model IEnumerable<ObligatorioMVC.Models.Rutina>

@{
    ViewData["Title"] = "Índice";
}

<h1 class="text-light text-center">Rutinas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Rutina</a>
</p>
<div class="table-responsive">
    <table class="table table-dark table-striped text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DescripcionRutina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Calificacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoRutina.Nombre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionRutina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Calificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoRutina.Nombre)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                            <a asp-action="AsignarEjercicio" asp-route-id="@item.Id" class="btn btn-success">Asignar Ejercicio</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<style>
    body {
        background-color: #333;
        color: #ddd;
    }

    h1 {
        color: #fff;
    }

    .table {
        background-color: #444;
    }

        .table thead th {
            color: #ccc;
        }

        .table tbody td {
            color: #ddd;
            text-align: center;
        }

    .btn-primary {
        background-color: #555;
        border-color: #666;
    }

        .btn-primary:hover {
            background-color: #666;
            border-color: #777;
        }

    .btn-secondary {
        background-color: #666;
        border-color: #777;
    }

        .btn-secondary:hover {
            background-color: #777;
            border-color: #888;
        }

    .btn-danger {
        background-color: #800000;
        border-color: #990000;
    }

        .btn-danger:hover {
            background-color: #990000;
            border-color: #aa0000;
        }

    .btn-warning {
        background-color: #f0ad4e;
        border-color: #eea236;
    }

        .btn-warning:hover {
            background-color: #eea236;
            border-color: #e0a726;
        }

    .btn-info {
        background-color: #5bc0de;
        border-color: #46b8da;
    }

        .btn-info:hover {
            background-color: #46b8da;
            border-color: #269abc;
        }

    .btn-success {
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

        .btn-success:hover {
            background-color: #4cae4c;
            border-color: #398439;
        }
</style>

